# macOS
.DS_Store

# Logs
logs

# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# TypeScript output
dist/

# ormconfig
ormconfig.json

# direnv
.envrc
.env
build
temp*
test/
logs/
script/